 <h1>Fruits Store</h1>
  <div id="fruitsContainer"></div>

  <hr/>

<h1>Vegetables Store</h1>
<div id="vegetablesContainer"></div>

  <a href="cart" style="color: #197648; font-size: 14PX; font-weight: 300PX; ">Go to Cart</a>
  

