
  <div class="form-container">
    <h2>Reset Password</h2>

    <form id="resetForm">
      <input type="email" id="newEmail" placeholder="Email" required><br>
      <input type="password" id="newPassword" placeholder="Enter New Password" required><br>
      <button id="resetBtn" type="submit">Reset Password</button>

    </form>

    <p>Remembered your password?  
      <a href="login">Login</a>
  </div>

  